<%- include('./partials/head') %>
<%- include('./partials/nav') %>

<section id="favitemSec">
    <article>
        <img class="cover-img" src="https://image.tmdb.org/t/p/w500<%=favDetailsData.poster_path%>" alt="">
        <div class="evaluation">
            <span><%=favDetailsData.vote_average%>/10</span>
            <span><%=favDetailsData.vote_count%></span>
        </div>

        <section class="details-wrapper">
            <a href="/favitem/<%=favDetailsData._id%>/delete">Delete from favourites</a>

            <div>
                <h3 class="details-h3"><%=favDetailsData.title%></h3>
                <p><%=favDetailsData.release_date%> Released</p>
            </div>
            <div>
                <ul>
                <% favDetailsData.genre_ids.forEach(genre =>{ %> 
                    <li><%= genre.name%></li>
                    <% }) %>
                </ul>
            </div>
            <h4>Plot Summary</h4>
            <p><%=favDetailsData.overview%></p>
        </section>
    </article>
</section>

<%- include('./partials/footer') %>