<%- include('./partials/head') %>
<%- include('./partials/nav') %>

<section id="favitemSec">
    <article>
        <img class="cover-img" src="https://image.tmdb.org/t/p/w500<%=favDetailsData.poster_path%>" alt="">
        <div class="evaluation">
            <img src="/assets/img/star.png" alt="">
            <h4><%=favDetailsData.vote_average%><span>/10</span></h4>
            <p><%=favDetailsData.vote_count%></p>
        </div>

        <section class="details-wrapper">
            <section class="addTo">
                <a href="/favitem/<%=favDetailsData._id%>/delete"><img src="/assets/img/minus.png" alt=""></a>

                <h3 class="details-h3">Delete from favorites</h3> 
            </section>
            <div>
                <h3 class="details-h3"><%=favDetailsData.title%></h3>
                <p><%=favDetailsData.release_date%> Released</p>
            </div>
            <div>
                <ul class="genres-list">
                <% favDetailsData.genre_ids.forEach(genre =>{ %> 
                    <li><%= genre.name%></li>
                    <% }) %>
                </ul>
            </div>
            <h4>Plot Summary</h4>
            <p><%=favDetailsData.overview%></p>
        </section>
    </article>
</section>

<%- include('./partials/footer') %>