<%- include('./partials/head') %>
<%- include('./partials/nav') %>

<section id="popularSec">
    <h1>Welcome to the Movie Magic App</h1>
    <h2 class="page-h2">Popular Movies</h2>
    <section class="gridSec">
        <% popularMovies.forEach(movie => { %>
            <article>
                <a href="/details/<%= movie.id %>">
                    <img class="grid-img" src="https://image.tmdb.org/t/p/w500<%= movie.poster_path%>" alt="">
                    <h3><%=movie.title%></h3>
                </a>
            </article>
        <% }) %>
    </section>

    <a href="">Previews page</a>
    <a href="">Next page</a>
</section>

<%- include('./partials/footer') %>